<mgl-map
  #map
  [style]="'mapbox://styles/lashvardi/clfgxyw4700ln01mriqocpnek'"
  [zoom]="[13]"
  [center]="userLocation || [42.716667, 42.783333]"
>
  <mgl-control mglNavigation></mgl-control>
  <mgl-control mglScale unit="imperial" position="top-right"></mgl-control>
  <mgl-control mglGeolocation position="top-right"></mgl-control>

<mgl-marker
  *ngFor="let marker of markers"
  [lngLat]="[marker.longitude, marker.latitude]"
>
  <div (click)="onMarkerClick(marker)" class="marker">
    <img width="50px" src="../assets/Frame.png" alt="" />
  </div>
</mgl-marker>

  <mgl-marker *ngIf="userLocation" [lngLat]="userLocation">
    <div class="user-location-marker">
      <img
        width="20px"
        src="https://static.vecteezy.com/system/resources/previews/009/267/042/original/location-icon-design-free-png.png"
        alt="User location"
      />
    </div>
  </mgl-marker>

  <mgl-geojson-source
    id="routeSource"
    [data]="routeGeoJSON?.data"
  ></mgl-geojson-source>

  <mgl-layer
    *ngIf="routeGeoJSON"
    id="route"
    type="line"
    source="routeSource"
    [layout]="{
      'line-join': 'round',
      'line-cap': 'round'
    }"
    [paint]="{
      'line-color': '#0500ec',
      'line-width': 9,
      'line-opacity': 0.75
    }"
  ></mgl-layer>
</mgl-map>
<app-info-box [imageSrc]="infoBoxImageSrc" [distance]="infoBoxDistance" [header]="infoBoxHeader"></app-info-box>

